

.form-bg-container {
    background-image: url("https://www-cdn.eumetsat.int/files/styles/16_9_large/s3/2020-06/ASpot_Weather.jpg");
    background-size: cover;
}

.form-input{
    background-color: transparent;
    border-radius: 5px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    color : white;
}

.login-tag{
    cursor: pointer;
}